.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color:#fceae8;
    border-radius: 5px;
}

.buy-now-button{
    color: beige;
   background-image: linear-gradient(180deg ,rgb(223, 64, 183) ,rgb(238, 10, 169));
    border-radius: 5px;
    text-decoration: none;
    border: none;
    
}
.price{
    color: rgb(226, 72, 144);
}

.cat1 , .cat2 ,.cat3 {
    padding: 10px 10px;
    border-radius: 10px;
}
.cat1{
 background-color:rgb(240, 171, 44);
}
.cat2{
background-color: tomato;
}

.cat3{
background-color: rgb(76, 76, 223);
}
.color{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 10px 10px 20px gray;
}


#subscribe{
    height: 300px;
}
.text h6{
    color: gray;
}
