.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color:#fceae8;
    border-radius: 5px;
}

.buy-now-button{
    color: beige;
   background-image: linear-gradient(180deg ,rgb(223, 64, 183) ,rgb(238, 10, 169));
    border-radius: 5px;
    text-decoration: none;
    border: none;
    
}
.price{
    color: rgb(226, 72, 144);
}